<div class="row">
    <div class="col">
        <img src="{{ display.image_url}}" class="img-fluid rounded" alt="">
        <p>Pages: {{display.pages}}</p> 
        <p>Ratings: {{display.rating}} ({{display.rating_count}})</p> 
        <p>Genres: {{display.genres}}</p> 
        <a href="/">Home</a>
        
    </div>
    
    <div class="col">
        <h2>{{ display.title }}</h2>
        <h4>by {{ display.authors }}</h4>
        <h5>{{{ display.description }}}</h5>
        <a href="reviews/{{display.title}}">Find review</a>
    </div>
    
</div>


